﻿@media print {

  #ContentPlaceHolder1_btnGenerarCalculoLiquidacion {
           display: none;
        }

.ui-state-default ui-corner-all
  { 
       display: none;
   }
    
  #ContentPlaceHolder1_btn_DialogTramos 
    {
           display: none;
        }    
        
   img   
    {
       display:none;
    }      
        
   
   input.image[title="Editar registro"]
   {
        display:none;  
    }    
    
   #reporte
     {
      display:block;
      }   
    
    
 
 
}