﻿/*-----------------Nuevo Estilo---------------------*/

/*---Listado general-------------*/
.TablaListaGrid
{
       /*color:#000000;
       background-color:#FFFFFF;
       width:100%;
       font-size:13px;
       font-family:Arial, Helvetica, sans-serif;
       border-color: #CCCCCC;*/
       /*border-bottom: 1px solid #CCCCCC;
       border-left: 1px solid #CCCCCC;
       border-right: 1px solid #CCCCCC;
       border-top: 1px solid #CCCCCC;*/
}

.TablaListaGrid th /*, .TablaListaGrid th a*/
{

    /*border: 1px solid #aed0ea;*/
    padding: 4px;
    background: #deedf7 url(images/ui-bg_highlight-soft_100_deedf7_1x100.png) 50% 50% repeat-x;
    color: #2779aa;
    font-weight: bold;
    text-decoration:none;   

}

.TablaListaGrid th a
{
    color: #2779aa;
    font-weight: bold;
    text-decoration:none;   

}
.TablaListaGrid tbody tr {

    height: 30px;
    color: #000000;

    -webkit-transition-property: background-color, color; 
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: linear;
    
    -moz-transition-property: background-color, color; 
    -moz-transition-duration: .5s;
    -moz-transition-timing-function: linear;
    
    -o-transition-property: background-color, color; 
    -o-transition-duration: .5s;
    -o-transition-timing-function: linear;

    }
.CurrentPage 
{
    background-color: #aed0ea;
    font-weight: bold;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px;
}

/*
.TablaListaGrid tbody tr
{
       font-size: 8pt;
       font-family:Arial;
       height: 20px;
       color: #000000;
       cursor:pointer;
    -webkit-transition-property: background-color, color; 
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: linear;
    
    -moz-transition-property: background-color, color; 
    -moz-transition-duration: .5s;
    -moz-transition-timing-function: linear;
    
    -o-transition-property: background-color, color; 
    -o-transition-duration: .5s;
    -o-transition-timing-function: linear;
       
}*/
.TablaListaGrid tbody tr:hover
{
    background-color:#C9DBED;
    color: #1F3A55;
}
.TablaListaGrid tbody tr td
{
       border-bottom: 1px solid #aed0ea;
    vertical-align: middle;
}
.TablaListaGrid tbody tr td
{
    border-bottom: 1px solid #aed0ea;
    vertical-align: middle;
}
.TablaListaGrid .monto
{
       text-align:right;

}

.TablaContenidoGris {
    border: 1px solid #aed0ea;
    padding: 4px;
    background: #deedf7 url(images/ui-bg_highlight-soft_100_deedf7_1x100.png) 50% 50% repeat-x;
    color: #2779aa;
    font-weight: bold;
    text-decoration:none;  
    /*
	background-color:#EEEEEE;
	border-color:#000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;*/
}
.TextoComun {
	/*font-size: 8pt;
	font-family:Arial;
	color: #000000;*/
}
.BotonImagen
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px;
    BACKGROUND-COLOR: transparent
}
.TextoBoton {
	font-size: 8pt;
	font-family:Arial;
	color: #000000;
	cursor:pointer;
	height:20;
}
.TextoFormuNegro {
	font-family: Verdana;
	font-size: 11px;
	color:#000000;
}
.DIVSCROLL {
	overflow:auto; 
	overflow-x:hidden;
	overflow-y: scroll;
}
/*---FIN Listado General-------------*/

