﻿<%@ Page Title="" Language="C#" MasterPageFile="~/PaginasMaster.Master" AutoEventWireup="true" CodeBehind="Principal.aspx.cs" Inherits="GSoluard.WebUI.Inicio" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

            <div id="wrapper" class="ui-widget-overlay ">
            <div style="position:relative; top:50%; left:50%;" class="ui-widget" />
            <img alt="Grupo Soluard" src="/Styles/HerGoS-theme/images/Logo_Completo_Grupo_Soluard.png" class="ui-corner-all" width="300px" style="margin-left:-150px; margin-top:-150px;"/>
            </div>
            
</asp:Content>
